main {
  width: 100%;
  display: flex;
  background-color: rgba(134, 139, 253, 0.5);
  flex-direction: row;
  align-items: center;
  min-height: 100vh;
  justify-content: center;



  .main-section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 1150px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
  }

  .image-section {
    flex-grow: 0.3;
    display: grid;
    align-self: center;
    justify-items: center;

    img {
      padding: 10px 10px 30px 10px;
    }
  }



  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .forms-section {
    display: grid;
    flex-grow: 0.3;
    padding: 20px 30px 20px 20px;
    justify-items: center;
    gap: 20px;


    h1 {
      font-size: 28px;
      font-weight: bold;
      font-family: 'SF Pro Rounded', sans-serif;
      padding: 20px 20px 5px 20px;
    }

    .section-1 {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 70px;
    }


    .remember-me-section {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 5px;

    }


    h2 {
      font-size: 13px;
      font-weight: bold;
      font-family: 'SF Pro Rounded', sans-serif;
      color: #4E4D4D;
    }

    .social-media-section {
      display: flex;
      flex-flow: row wrap;
      justify-items: center;
      align-items: center;
      gap: 50px;
    }


    .button-wrapper {
      display: grid;
      justify-items: center;
      gap: 10px;


      button {
        border-radius: 15px;
        font-size: 16px;
        font-weight: 500;
        width: 240px;
        height: 55px;
        border: none;
        background-color: #1317DD;
        color: white;
        padding: 5px 15px;

      }

    }

  }

}
