<main>

  <section class="main-section">

      <section class="image-section">
        <img src="/png/img-login.png" width="600px">
      </section>

      <section class="forms-section">
        <h1>{{title}}</h1>
        <ng-content></ng-content>
        <div class="section-1">
          <div class="remember-me-section">
            <mat-slide-toggle color="primary">Remember me</mat-slide-toggle>
          </div>
          <h2>Forgot Password?</h2>
        </div>
        <div class="button-wrapper">
          <button>{{primaryBtnText}}</button>
          <h2>OR</h2>
          <h2>Login with</h2>
          <div class="social-media-section">
            <img src="/png/google_icon.png" width="20px">
            <img src="/png/apple_icon.png" width="20px">
            <img src="/png/facebook_icon.png" width="20px">
          </div>
          <h2>Don’t have an account? <a href="https://www.google.com/" target='_blank'>Register now</a></h2>
        </div>
      </section>
  </section>
</main>
