main {
  display: flex;
  background-color: #868BFD;
  flex-direction: row;
  align-items: center;
  min-height: 100vh;
  justify-content: center;


  .main-section {
    width: 500px;
    height: 500px;
    justify-items: center;
    background-color: white;
    align-items: center;
    justify-content: center;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

}
