<main>

  <section class="main-section">

      <section class="image-section">
        <img src="/svg/img-login.png" width="300px">
      </section>

      <section class="forms-section">
        <h2>LOGIN</h2>
        <div>
          <div>
            <button></button>
            <h2>Remember me</h2>
          </div>
          <h2>Forgot Password?</h2>
        </div>
        <button></button>
        <h2>OR</h2>
        <h2>Login with</h2>
        <div>
          <img>
          <img>
          <img>
        </div>
        <h2>Don’t have an account? Register now</h2>
      </section>
  </section>
</main>
