<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <section class="main-section">
        <section class="image-section">
          <img
            src="/assets/png/img-login.png"
            alt="login image"
            width="600px"
          />
        </section>

        <section class="forms-section">
          <h1>{{ title }}</h1>
          <ng-content></ng-content>
          <div class="section-1">
            <div class="remember-me-section">
              <mat-slide-toggle color="primary">Remember me</mat-slide-toggle>
            </div>
            <h2>Forgot Password?</h2>
          </div>
          <div class="button-wrapper">
            <button (click)="submit()" [disabled]="disablePrimaryBtn">
              {{ primaryBtnText }}
            </button>
            <h2>OR</h2>
            <h2>Login with</h2>
            <div class="social-media-section">
              <a href="https://www.google.com/?hl=pt_BR" target="_blank"
                ><img
                  src="/assets/png/google_icon.png"
                  alt="google icon"
                  width="20px"
              /></a>
              <a href="https://www.apple.com/br/store" target="_blank"
                ><img
                  src="/assets/png/apple_icon.png"
                  alt="apple icon"
                  width="20px"
              /></a>
              <a href="https://www.facebook.com/?locale=pt_BR" target="_blank"
                ><img
                  src="/assets/png/facebook_icon.png"
                  alt="facebook icon"
                  width="20px"
              /></a>
            </div>
            <h2>
              Don’t have an account? <a href="" target="_blank">Register now</a>
            </h2>
          </div>
        </section>
      </section>
    </main>
  </body>
</html>
